<p id="notice"><%= notice %></p>

<p>
  <strong>Enunciado:</strong>
  <%= @alternative.enunciado %>
</p>

<p>
  <strong>Correta:</strong>
  <%= @alternative.correta %>
</p>

<%= link_to 'Edit', edit_alternative_path(@alternative) %> |
<%= link_to 'Back', alternatives_path %>
